{{#isBodyParam}}
 <tr style='height:26.05pt'>
  <td width=92 valign=top style='width:69.25pt;border:none;border-left:solid #4F81BD 1.0pt;
  background:white;padding:0cm 5.4pt 0cm 5.4pt;height:26.05pt'>
  <p class=NormalTextIndent align=right style='margin-top:6.0pt;margin-right:
  0cm;margin-bottom:0cm;margin-left:0cm;text-align:right'><b><span lang=EN-GB>&nbsp;</span></b></p>
  </td>
  <td width=106 valign=top style='width:79.35pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:26.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm'><i><span lang=EN-GB></span></i></p>
  </td>
  <td width=113 valign=top style='width:3.0cm;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:26.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm'><i><span lang=EN-GB>{{baseType}}</span></i></p>
  </td>
  <td width=255 valign=top style='width:191.05pt;border:none;border-right:solid #4F81BD 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.05pt'>
  <p class=MsoNormal style='margin-bottom:0cm'><span lang=EN-GB>{{unescapedDescription}}</span></p>
  </td>
 </tr>       
{{/isBodyParam}}
