body {
	font-family: Calibri,sans-serif;
	font-size:11.0pt;
}

h1	{
	font-family: Cambria, sans-serif;
}
h2	{
	font-family: Cambria, sans-serif;
}
h3	{
	font-family: Cambria, sans-serif;
}
h4	{
	font-family: Cambria, sans-serif;
}

NormalTextIndent, MsoNormal
	{
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:1.0cm;
	text-align:left;
	line-height:106%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
}

 MsoNormalOld
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:left;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
}